<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Contribute</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding cache-view="false">
	<ion-list>
		<ion-item>
			<ion-label floating>Hop On station</ion-label>
			<ion-select [(ngModel)]="from">
				<ion-option value="nes">NES</ion-option>
				<ion-option value="n64">Nintendo64</ion-option>
				<ion-option value="ps">PlayStation</ion-option>
				<ion-option value="genesis">Sega Genesis</ion-option>
				<ion-option value="saturn">Sega Saturn</ion-option>
				<ion-option value="snes">SNES</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label floating>Hop Off station</ion-label>
			<ion-select [(ngModel)]="to">
				<ion-option value="nes">NES</ion-option>
				<ion-option value="n64">Nintendo64</ion-option>
				<ion-option value="ps">PlayStation</ion-option>
				<ion-option value="genesis">Sega Genesis</ion-option>
				<ion-option value="saturn">Sega Saturn</ion-option>
				<ion-option value="snes">SNES</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label floating>Bus Name</ion-label>
			<ion-input type="text" [(ngModel)]="busName"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Date</ion-label>
			<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="travelDate"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label floating>Bus Timing</ion-label>
			<ion-datetime displayFormat="HH:mm" [(ngModel)]="arrivalTime"></ion-datetime>
		</ion-item>
		<ion-item>
			<ion-label floating>Travel Time</ion-label>
			<ion-datetime displayFormat="HH:mm" [(ngModel)]="travelTime"></ion-datetime>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-item>
			Rate your travel
		</ion-item>
		<ion-item>
			<ion-row>
				<div *ngFor="let item of stars; index as i">
					<ion-icon name="star" *ngIf="i < rating" (click)="updateRating(i)"></ion-icon>
					<ion-icon name="star-outline" *ngIf="i >= rating" (click)="updateRating(i)"></ion-icon>
				</div>
			</ion-row>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-item>
			<ion-label floating>Description</ion-label>
			<ion-textarea [(ngModel)]="description"></ion-textarea>
		</ion-item>
	</ion-list>
	<button ion-button icon-only full>
  	<ion-icon name="done-all"></ion-icon>
	</button>
</ion-content>